.logo {
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 25px;
  background-color: rgba(240, 248, 255, 0.24);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
