@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	--grey-border: 2px solid rgba(217, 217, 217, 0.259);
}

ul {
	padding-inline-start: 0;
}