
.main {
	margin-left: 15rem;
	--section-padding: 3rem 4rem;
}

.header {
	border-bottom: var(--grey-border);
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 6rem 4rem 1rem 4rem;
}

.overviewTitle {
	color: rgb(79, 79, 79);
	opacity: 0.8;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.viewTitle {
	font-size: 1.5rem;
}

.currencyCards {
	padding: var(--section-padding);
	border-bottom: var(--grey-border);
	display: flex;
	overflow-x: scroll;
	gap: 2rem;

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	&:hover::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	&:hover::-webkit-scrollbar-track {
		background-color: #d3d3d3;
	}

	&::-webkit-scrollbar-track {
		background-color: #d3d3d332;
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: #888;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(136, 136, 136, 0.217);
	}
}

.infoCards {
	padding: var(--section-padding);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 2rem;
}

@media screen and (max-width: 768px) {
	.infoCards {
		grid-template-columns: 1fr;
	}
}