.card {
  padding: 1.25rem 1rem;
  min-width: 6rem;
  min-height: 5rem;
  max-height: 20rem;
  border-radius: 5px;
  border: var(--greyBorder);
  box-shadow: var(--mainShadow);
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerElements {
  display: flex;
  gap: 1rem;
}
