.sidebarLink {
	color: rgb(86, 86, 86);
	background-color: transparent;
	padding: 0.75rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}

.sidebarLinkCurrent {
	color: white;
	background-color: var(--coinbets-accent);
	box-shadow: var(--active-btn-shadow);

	& a:active {
		background-color: #3903fc;
	}

	&:hover {
		background-color: #683EFF;
	}

}

.content {
	display: flex;
	align-items: center;
}

.badge {
	display: inline-block;
	margin-left: 0.5rem;
	border-radius: 10px;
	content: "";
	width: 0.75rem;
	height: 0.75rem;
	background-color: #cfcfcfab;
}