.card {
	padding: 1.5rem;
	width: 17rem;
	height: 10rem;
	background: rgb(237, 237, 237);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: white;
}

.BTC {
	background: linear-gradient(90deg, #44E0D3, #1DABD2);
	box-shadow:  0 65px 30px -70px #017fa1;
}

.ETH {
	background: linear-gradient(90deg, #9172FE, #FA609C);
	box-shadow:  2px 71px 41px -66px #9172FE;
}

.LUNA {
	background: linear-gradient(90deg, #F6CD88, #F6586C);
	box-shadow:  2px 71px 41px -66px #F6CD88;
}

.DOT {
	background: linear-gradient(90deg, #7047FE, #98AAFF);
	box-shadow:  2px 71px 41px -66px #7047FE;
}

.logo {
	display: block;
	width: 2.75rem;
	height: 2.75rem;
	border-radius: 25px;
	background-color: rgba(240, 248, 255, 0.24);
}

.priceData {
	display: flex;
	flex-direction: column;
}

.equity {
	font-size: 1.65rem;
}

.marketCap {
	font-size: 0.85rem;
	letter-spacing: 0.3px;
	font-weight: 450;
}