.sidebarLink {
	color: rgb(86, 86, 86);
	background-color: transparent;
	padding: 0.75rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	align-items: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	&[data-current="true"] {
		color: white;
		background-color: #744DFE;
		box-shadow: 0 0 30px 1px rgba(102, 51, 222, 0.366);

		&::after {
			display: inline-block;
			margin-left: 0.5rem;
			border-radius: 10px;
			content: "";
			width: 0.75rem;
			height: 0.75rem;
			background-color: #BBA8FC;
		}
	}

	&:active {
		background-color: rgb(117, 95, 169);
	}

	&:hover {
		background-color: rgb(168, 150, 209);
	}

	border: 0;
}